<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/app-route/app-location.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../bower_components/iron-input/iron-input.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="../bower_components/paper-input/paper-input.html">
<link rel="import" href="../bower_components/brum-global-variable/brum-global-variable.html">
<link rel="import" href="../bower_components/iron-localstorage/iron-localstorage.html">
<link rel="import" href="shared-styles.html">

<dom-module id="consulta-movimiento">
  <template>
    <style include="shared-styles">
      :host {
        display: block;

        padding: 10px;
      }

      .wrapper-btns {
        margin-top: 15px;
      }

      paper-button.link {
        color: #757575;
      }

      .alert-error {
        background: #ffcdd2;
        border: 1px solid #f44336;
        border-radius: 3px;
        color: #333;
        font-size: 14px;
        padding: 10px;
      }

      .alert-success {
        background: #98c807;
        border: 1px solid #04662a;
        border-radius: 3px;
        color: rgb(255, 248, 248);
        font-size: 14px;
        padding: 10px;
      }
      .alert-info {
        background: #076bc8;
        border: 1px solid #2e0466;
        border-radius: 3px;
        color: rgb(255, 248, 248);
        font-size: 15px;
        padding: 10px;
      }

      input {
        position: relative;
        /* to make a stacking context */
        outline: none;
        box-shadow: none;
        margin: 0;
        padding: 0;
        width: 100%;
        max-width: 100%;
        background: transparent;
        border: none;
        color: var(--paper-input-container-input-color, var(--primary-text-color));
        -webkit-appearance: none;
        text-align: inherit;
        vertical-align: bottom;
        /* Firefox sets a min-width on the input, which can cause layout issues */
        min-width: 0;
        @apply --paper-font-subhead;
        @apply --paper-input-container-input;
      }

      a {
        text-decoration: none;
      }

      [hidden] {
        display: none;
      }
    </style>
    <iron-localstorage name="user-storage" value="{{storedUser}}"></iron-localstorage>
    <brum-global-variable key="userData" value="{{storedUser}}"></brum-global-variable>

    <app-location route="{{route}}"></app-location>

    <div class="card">

      <template is="dom-if" if="[[error]]">
        <p class$="[[claseAlert]]"><strong>Error:</strong> [[error]]</p>
      </template>
      <template is="dom-if" if="[[success]]">
        <p class$="[[claseAlert]]"><strong>Info:</strong> [[success]]</p>
      </template>
      <template is="dom-if" if="[[hasMovement]]">
        <p class="alert-success"><strong>Tiene Movimientos?: </strong> [[hasMovement]]</p>
      </template>
      
      <div id="authenticated" hidden$="[[!storedUser.loggedin]]">
        <h2>Hola, [[storedUser.name]]!</h2>
        <p>Número de cuenta: {{movementData.idCuenta}}</p>
        <template is="dom-if" if="{{hasmoredata}}">
          <table>
            <th>Consulta de Movimientos</th>
          </table>
          <template is="dom-repeat" items="{{newmovements}}" as="movement" index-as="index">
                <li>ID:  {{movement.id}}</li>
                <li>Fecha: {{movement.fecha.$date}}</li>
                <li>Importe:  {{movement.importe}} </li>
                <li>Tipo:  {{movement.tipo}} </li>
          </template>
        </template>
        <template is="dom-if" if="{{!hasmoredata}}">
            <p class="alert-info">Por el momento no tienes movimientos</p>
        </template>
        </ul>
      </div>
    </div>
  </template>

  <script>
    class ConsultaMovimiento extends Polymer.Element {
      static get is() {
        return 'consulta-movimiento';
      }
      static get properties() {
        return {
          formData: {
            type: Object,
            value: {}
          },
          movementData: {
            type: Object,
            value: {},
            notify: true
          },
          newmovements: {
            type: Array,
            value: function(){
              return [];
            },
            notify: true
          },
          hasMovement: {
            type: Boolean,
            value: false
          },
          show: {
            type: Boolean,
            value: false,
            notify: true,
            reflectToAttribute: true
          },
          hasmoredata:{
            type: Boolean,
            value: false
          },
          hidden: {
            type: String,
            value: "hidden",
            notify: true
          },
          storedUser: Object,
          error: String,
          success: String,
          claseAlert: {
            type: String,
            computed: '_retornaClaseAlert(error, success)'
          }
        }
      }
      
      _retornaClaseAlert(error, success) {
        if (error) {
          return 'alert-error';
        } else if (success) {
          return 'alert-success';
        }
      }
    }

    window.customElements.define(ConsultaMovimiento.is, ConsultaMovimiento);
  </script>
</dom-module>