<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../bower_components/iron-localstorage/iron-localstorage.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="shared-styles.html">

<dom-module id="panel-bienvenida">
  <template>
    <style include="shared-styles">
      :host {
        display: block;

        padding: 10px;
      }
    </style>

    <iron-localstorage name="user-storage" value="{{storedUser}}"></iron-localstorage>
    <brum-global-variable key="userData" value="{{storedUser}}"></brum-global-variable>

    <div class="card">
      <h1>Bienvenido! </h1>

      <div hidden$="[[!storedUser.loggedin]]">
        <p>Hola, [[storedUser.name]]!:</p>
      </div>

      <p hidden$="[[storedUser.loggedin]]">Deberias <a href="/register-login">Iniciar Sesión</a> para acceder!</p>
    </div>
  </template>

  <script>
    class PanelBienvenida extends Polymer.Element {
        static get is() { return 'panel-bienvenida'; }

        static get properties() {
            return {
                storedUser: Object
            };
        }
    }

    window.customElements.define(PanelBienvenida.is, PanelBienvenida);
  </script>
</dom-module>
