<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/app-route/app-location.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../bower_components/iron-input/iron-input.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="../bower_components/paper-input/paper-input.html">
<link rel="import" href="../bower_components/brum-global-variable/brum-global-variable.html">
<link rel="import" href="../bower_components/iron-localstorage/iron-localstorage.html">
<link rel="import" href="shared-styles.html">

<dom-module id="register-user">
  <template>
    <style include="shared-styles">
      :host {
        display: block;

        padding: 10px;
      }
      .wrapper-btns {
        margin-top: 15px;
      }
      paper-button.link {
        color: #757575;
      }
      .alert-error {
        background: #ffcdd2;
        border: 1px solid #f44336;
        border-radius: 3px;
        color: #333;
        font-size: 15px;
        padding: 10px;
      }

      .alert-success {
        background: #618102;
        border: 1px solid #04662a;
        border-radius: 3px;
        color: rgb(255, 248, 248);
        font-size: 15px;
        padding: 10px;
      }

      input {
        position: relative; /* to make a stacking context */
        outline: none;
        box-shadow: none;
        margin: 0;
        padding: 0;
        width: 100%;
        max-width: 100%;
        background: transparent;
        border: none;
        color: var(--paper-input-container-input-color, var(--primary-text-color));
        -webkit-appearance: none;
        text-align: inherit;
        vertical-align: bottom;
        /* Firefox sets a min-width on the input, which can cause layout issues */
        min-width: 0;
        @apply --paper-font-subhead;
        @apply --paper-input-container-input;
      }
      a{
        text-decoration: none;
      }
    </style>
    <iron-ajax
      id="registerUserAjax"
      content-type="application/json"
      handle-as="text"
      method="post"
      on-response="handleRegisterUserResponse"
      on-error="handleUserError">
    </iron-ajax>
    <iron-ajax
      id="userAjax"
      content-type="application/json"
      handle-as="text"
      method="get"
      on-response="handleUserResponse"
      on-error="handleUserError">
    </iron-ajax>
    <iron-ajax
      id="accountAjax"
      content-type="application/json"
      handle-as="text"
      method="post"
      on-response="handleAccountResponse"
      on-error="handleUserError">
    </iron-ajax>

    <iron-localstorage name="user-storage" value="{{storedUser}}"></iron-localstorage>
    <brum-global-variable key="userData" value="{{storedUser}}"></brum-global-variable>

    <app-location route="{{route}}"></app-location>

    <div class="card">
      <div id="unauthenticated" hidden$="[[storedUser.loggedin]]">
        <h1>Registro de Usuario</h1>

        <h5><a href="[[rootPath]]register-login">Inicia Sesión</a> o Registrate para acceder a la aplicación!</h5>

        <template is="dom-if" if="[[error]]">
          <p class$="[[claseAlert]]"><strong>Error:</strong> [[error]]</p>
        </template>
        <template is="dom-if" if="[[success]]">
            <p class$="[[claseAlert]]"><strong>Info:</strong> [[success]]</p>
        </template>
        <paper-input-container>
            <label slot="input">Usuario</label>
            <iron-input slot="input" bind-value="{{formData.idCliente}}">
              <input class="input-style" id="user" type="number" value="{{formData.idCliente}}" maxlength="8" minlength="1" required>
            </iron-input>
          </paper-input-container>
        <paper-input-container>
          <label slot="input">Nombre</label>
          <iron-input slot="input" bind-value="{{formData.Nombre}}">
            <input class="input-style" id="name" type="text" value="{{formData.Nombre}}">
          </iron-input>
        </paper-input-container>
        <paper-input-container>
          <label slot="input">Apellido</label>
          <iron-input slot="input" bind-value="{{formData.Apellido}}">
            <input class="input-style" id="surname" type="text" value="{{formData.Apellido}}">
          </iron-input>
        </paper-input-container>
        <paper-input-container>
          <label slot="input">Correo</label>
          <iron-input slot="input" bind-value="{{formData.email}}">
            <input class="input-style" id="email" type="text" value="{{formData.email}}">
          </iron-input>
        </paper-input-container>

        <paper-input-container>
          <label slot="input">Contraseña</label>
          <iron-input slot="input" bind-value="{{formData.password}}">
            <input id="password" type="password" value="{{formData.password}}">
          </iron-input>
        </paper-input-container>

        <div class="wrapper-btns">
          <paper-button raised class="primary" on-tap="getUser">Registrarte</paper-button>
        </div>
      </div>
      <div id="authenticated" hidden$="[[!storedUser.loggedin]]">
        <h2>Hello, [[storedUser.name]]!</h2>
        <p>You are currently logged in. You can access <a href="/secret-quotes">Secret Quotes</a>!</p>
        <log-out stored-user="{{storedUser}}"></log-out>
      </div>
    </div>
  </template>

  <script>
      class RegisterUser extends Polymer.Element {
          static get is() { return 'register-user'; }
          static get properties() {
              return {
                  formData: {
                      type: Object,
                      value: {}
                  },
                  accountData: {
                      type: Object,
                      value: {}
                  },
                  storedUser: Object,
                  error: String,
                  success: String,
                  claseAlert: {
                    type: String,
                    computed: '_retornaClaseAlert(error, success)'
                  }
              }
          }

          _retornaClaseAlert(error, success){
            if(error){
              return 'alert-error';
            }else if(success){
              return 'alert-success';
            }
          }
          _setReqBodyUser() {
              this.$.userAjax.body = this.formData;
          }
          _setReqBody() {
              this.$.registerUserAjax.body = this.formData;
          }
          _setAccountBody() {
              this.$.accountAjax.body = this.accountData;
          }

          getUser() {
            this.formData.idCliente = parseInt(this.formData.idCliente);
            var idCliente = this.formData.idCliente;
            if(!idCliente){
              return this.error = "El campo Usuario es Obligatorio";
            }
            this.$.userAjax.url = 'http://localhost:3000/api/1/usuarios/'+idCliente+'';
            this._setReqBodyUser();
            this.$.userAjax.generateRequest();
          }

          postRegister() {
              this.$.registerUserAjax.url = 'http://localhost:3000/api/1/usuarios/';
              this._setReqBody();
              this.$.registerUserAjax.generateRequest();
          }

          postRegisterAccount(){
            this.$.accountAjax.url = 'http://localhost:3000/api/1/cuentas_movimientos/';
            this._setAccountBody();
            this.$.accountAjax.generateRequest();
          }

          handleUserResponse(event) {
              let status = event.detail.status;
              let response = JSON.parse(event.detail.response);
              if (typeof response !== 'undefined' && typeof response[0] !== 'undefined') {
                let id = response[0].idCliente || 0;
                if (id == this.formData.idCliente) {
                    this.error = 'El Usuario que intenta registrar ya existe, intentelo nuevamente.';
                    // redirect to Secret Quotes
                    this.set('route.path', '/register-user');
                }
              }else if(typeof response !== 'undefined' && status == 200){
                this.postRegister();
              }else{
                this.error  = "Datos incorrecetos!";
              }
              // reset form data
              // this.formData = {};
          }

          handleRegisterUserResponse(event) {
              this.error = '';
              let status = event.detail.status;
              let response = JSON.parse(event.detail.response);
              var count = 0;
              if (typeof response !== 'undefined' && typeof response.idCliente !== 'undefined') {
                this.accountData.Cliente = this.formData.idCliente;
                this.accountData.idCuenta  = this.formData.idCliente+(++count);
                this.accountData.movimientos = [];
                this.postRegisterAccount();
              }else{
                this.error  = "No se realizo el registro, intentelo más tarde!";
              }
              // reset form data
              // this.formData = {};
          }

          handleAccountResponse(event){
            this.error = '';
            let status = event.detail.status;
            let response = JSON.parse(event.detail.response);
            if (typeof response !== 'undefined' && typeof response.idCuenta !== 'undefined') {
              this.success = "Te has registrado correctamente, se redireccionará al login.";
              setTimeout(() => {
                this.set('route.path', '/register-login');
                this.success = '';
                this.formData = {};
                this.accountData = {};
              }, 5000);
            }
          }

          handleUserError(event) {
            if (typeof event !== 'undefined' && typeof event.detail !== 'undefined' && typeof event.detail.request !== 'undefined' && typeof event.detail.request.__data !== 'undefined') {
              this.error = event.detail.request.xhr.response;
              alert("Descripción Error: " + this.error);
            }
          }
      }

      window.customElements.define(RegisterUser.is, RegisterUser);
  </script>
</dom-module>
