<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/app-route/app-location.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../bower_components/iron-input/iron-input.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="../bower_components/paper-input/paper-input.html">
<link rel="import" href="../bower_components/brum-global-variable/brum-global-variable.html">
<link rel="import" href="../bower_components/iron-localstorage/iron-localstorage.html">
<link rel="import" href="shared-styles.html">

<dom-module id="register-login">
  <template>
    <style include="shared-styles">
      :host {
        display: block;

        padding: 10px;
      }
      .wrapper-btns {
        margin-top: 15px;
      }
      paper-button.link {
        color: #757575;
      }
      .alert-error {
        background: #ffcdd2;
        border: 1px solid #f44336;
        border-radius: 3px;
        color: #333;
        font-size: 14px;
        padding: 10px;
      }
      input {
        position: relative; /* to make a stacking context */
        outline: none;
        box-shadow: none;
        margin: 0;
        padding: 0;
        width: 100%;
        max-width: 100%;
        background: transparent;
        border: none;
        color: var(--paper-input-container-input-color, var(--primary-text-color));
        -webkit-appearance: none;
        text-align: inherit;
        vertical-align: bottom;
        /* Firefox sets a min-width on the input, which can cause layout issues */
        min-width: 0;
        @apply --paper-font-subhead;
        @apply --paper-input-container-input;
      }
      a{
        text-decoration: none;
      }
    </style>
    <iron-ajax
      id="registerLoginAjax"
      content-type="application/json"
      handle-as="text"
      on-response="handleUserResponse"
      on-error="handleUserError">
    </iron-ajax>

    <iron-localstorage name="user-storage" value="{{storedUser}}"></iron-localstorage>
    <brum-global-variable key="userData" value="{{storedUser}}"></brum-global-variable>

    <app-location route="{{route}}"></app-location>

    <div class="card">
      <div id="unauthenticated" hidden$="[[storedUser.loggedin]]">
        <h1>Inicio de Sesión</h1>

        <h5>Inicia Sesión o Registrate para acceder a la aplicación!</h5>

        <template is="dom-if" if="[[error]]">
          <p class="alert-error"><strong>Error:</strong> [[error]]</p>
        </template>

        <paper-input-container>
          <label slot="input">Username</label>
          <iron-input slot="input" bind-value="{{formData.username}}">
            <input class="input-style" id="username" type="text" value="{{formData.username}}" placeholder="Username">
          </iron-input>
        </paper-input-container>

        <paper-input-container>
          <label>Password</label>
          <iron-input slot="input" bind-value="{{formData.password}}">
            <input id="password" type="password" value="{{formData.password}}" placeholder="Password">
          </iron-input>
        </paper-input-container>

        <div class="wrapper-btns">
          <paper-button raised class="primary" on-tap="getLogin">Iniciar</paper-button>
          <paper-button class="link">
              <a href="[[rootPath]]register-user">Registrarte</a>
          </paper-button>
        </div>
      </div>
      <div id="authenticated" hidden$="[[!storedUser.loggedin]]">
        <h2>Hello, [[storedUser.name]]!</h2>
        <p>You are currently logged in. You can access <a href="/secret-quotes">Secret Quotes</a>!</p>
        <log-out stored-user="{{storedUser}}"></log-out>
      </div>
    </div>
  </template>

  <script>
      class RegisterLogin extends Polymer.Element {
          static get is() { return 'register-login'; }

          static get properties() {
              return {
                  formData: {
                      type: Object,
                      value: {}
                  },
                  storedUser: Object,
                  error: String
              }
          }

          _setReqBody() {
              this.$.registerLoginAjax.body = this.formData;
          }

          getLogin() {
              let idCliente = this.formData.username;
              let password = this.formData.password;
              this.$.registerLoginAjax.set('method','get');
              this.$.registerLoginAjax.url = 'http://localhost:3000/api/1/usuarios/'+idCliente+'&'+password+'';
              this._setReqBody();
              this.$.registerLoginAjax.generateRequest();
          }

          postRegister() {
              this.$.registerLoginAjax.url = 'http://localhost:3001/users';
              this._setReqBody();
              this.$.registerLoginAjax.generateRequest();
          }

          handleUserResponse(event) {
              var response = JSON.parse(event.detail.response);
              if (typeof response !== 'undefined' && typeof response[0] !== 'undefined') {
                var id = response[0].idCliente || '';
                var pass = response[0].password || '';
                var nombre = response[0].Nombre || '';
                var apellido = response[0].Apellido || '';
                if (id == this.formData.username && pass == this.formData.password) {
                    this.error = '';
                    this.storedUser = {
                        name: `${nombre} ${apellido}`,
                        id_token: id,
                        access_token: response.access_token,
                        loggedin: true
                    };
                    // redirect to Secret Quotes
                    this.set('route.path', '/panel-bienvenida');
                }
              }else{
                this.error  = "Datos incorrecetos!";
              }
              // reset form data
              this.formData = {};
          }

          handleUserError(event) {
            if (typeof event !== 'undefined' && typeof event.detail !== 'undefined' && typeof event.detail.request !== 'undefined' && typeof event.detail.request.__data !== 'undefined') {
              this.error = event.detail.request.xhr.response;
              alert("Descripción Error: " + this.error);
            }
          }
      }

      window.customElements.define(RegisterLogin.is, RegisterLogin);
  </script>
</dom-module>
